body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
table {
  /* border: 1px solid black; */
  /* width: 100%; */

  border-collapse: collapse;
}

/* tr {
  border: 1px solid black;
} */

td:hover {
  background-color: #d1f5f5;
}

td {
  border: 1px solid #08c4c472;
  color: #7b929f;
  width: 75px;
  height: 75px;
  text-align: center;
  font-size: 28pt;
}

.bottom-border {
  border-bottom: solid 3px #079f9f;
}

.top-border {
  border-top: solid 3px #079f9f;
}

.right-border {
  border-right: solid 3px #079f9f;
}

.left-border {
  border-left: solid 3px #079f9f;
}

.current-cell {
  background-color: #b0e1e1 !important;
}

/* .updatedCell {
  background-color: #b5ddd0;
} */

.openCell {
  color: #08c4c3;
  cursor: pointer;
}

.conflict-cell {
  background-color: #fee3df !important;
}

.conflict-open-cell {
  color: #f76c5b !important;
  background-color: #fee3df !important;
}

.bg {
  background-color: #e6f4f4;
}

/* tr {
  background-color: aqua;
} */
